<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4">
        <img src="../../../assets/banner4.png" class="img-fluid img-thumbnail rounded-2" id="fotodeperfil" >
    </div>
        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4" >
            <p id="nombre">Virginia Calvo</p>
            <p>Full Stack Developer Jr</p>
        </div> 
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4" >
        <span>
            <h1>Acerca de mi</h1>
            <p>En esta sección se encuentra tu foto de perfil, nombre y título (Full Stack Developer Jr).Aquí debés poner tu información profesional resumida.</p>
        </span>
    </div>
</div>