.row{
    padding: 20px;
    border: 1px;
    background: #BD8D94;
}

.card-header{
    background: black;
    color: bisque;
}

h1, h3{
    display: inline;
}

p { 
    text-align:center;
    font-style: italic;
    font-family: georgia, garamond, serif;
    }
