<div class="row card">
    <h1 class="card-header">Proyectos Realizados</h1>
    <div class="card-body contenedor">
        <div class="col-sm-12 col-md-7 col.lg.7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis deserunt odio ipsam labore officia voluptatum aperiam blanditiis tempora optio cum repellendus ducimus, a unde, dolor possimus laudantium perferendis neque?</p>
        </div>
    <div class="col-sm-12 col-md-3 col-lg-1 offset-md-1 offset-lg-1 parte2 ">
        <img src="../../../assets/banner3.png" class="img-fluid img-proyecto">
    </div>
 </div>
</div>